* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
}

a {
  text-decoration: none;
  color: inherit;
}
.theme {
  transition: 2s all ease;
}
.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body.light-mode {
  background-color: #111;
  color: #bbb;
  transition: 2s all ease;
}
body.dark-mode {
  background-color: white;
  color: #111;
  transition: 2s all ease;
}
