.container{
  display: flex;
  align-items: center;
  gap: 100px;
}
.item{
  
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title{
  font-size: 72px;
  background:linear-gradient(to bottom,#194c33,#bbb) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadein 2s;
}
@keyframes fadein {
  from{
    opacity: 0;
    transform: translateY(50px);
  }to{
    opacity: 1;
    transform: translateY(0);
  }

}
.img{
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 2s infinite ease alternate;
}
@keyframes move{
  from{
      transform: translateY(-15px);
  }to{
      transform: translateY(0px) scale(1.03);
  }
}
.dec{
  font-size: 24px;
  font-weight: 300;
  animation: fadein 2s;

}

.button{
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width:max-content;
  color: white;
}